<div class="mainpanel">
  <h1>Регистрация</h1>
  <form action="/register" method="post">
    <div class="register" align="center">
      <input type="text" name="username" placeholder="username">
    </div>
    <div class="register" align="center">
      <input type="password" name="password" placeholder="password">
    </div>
    <div class="register" align="center">
      <input type="password" name="repeat_password" placeholder="Repeat password">
    </div>
    <div class="register" align="center">
      <input type="text" name="name" placeholder="name">
    </div>
    <div class="clearfix" align="center">
      <input type="submit" value = "Регистрация">
    </div>
  </form>

</div>