<div class="mainpanel">
  <h1>Регистрация</h1>
  <font color="red"><%= @message %></font> 
  <form action="/register" method="post">
    <div class="register" align="center">
      Потребителско име
      <input type="text" name="username" placeholder="username">
      </br>Парола
      <input type="password" name="password" placeholder="password">
      </br>Повтори паролата
      <input type="password" name="repeat_password" placeholder="Repeat password">
      </br>Име
      <input type="text" name="name" placeholder="name">
      <div class="clearfix">
        <input type="submit" value = "Регистрация">
      </div>
    </div>
  </form>

</div>