<div class="mainpanel">
  <h1>Търсене на заведение</h1>
  <form action="/search" method="post">
    <div class="dropdown">
      Тип на заведението
      <select name="type">
        <option value="0">Избери тип</option>
        <% @type_options.each do |type| %>
          <option value="<%= type.id %>" ><%= type.name %></option>
        <% end %>
      </select>
    </div>
    <div class="dropdown">
      Квартал
      <select name="zhk">
        <option value="0">Избери квартал</option>
        <% @residential_complex_options.each do |complex| %>
          <option value="<%= complex.id %>" ><%= complex.name %></option>
        <% end %>
      </select>
    </div>
    <div class="clearfix"></div>
    <div style="margin-left: 250px" >
      <input type="submit" value="Tърси" >
    </div>
  </form>
</div>