<div class="mainpanel" style="width:656px;">
  <% @top_places.each do |place| %>
  <div class="text_">
    <h1><a href="http://www.free-css.com/"><%= place.name %> </a></h1>
    <div class="text">
      <img src="/img/<%= place.main_picture_path %>" width="140" height="120" alt="" />
      <%= place.description %><br />
    </div>

    <div class="clearfix"></div>

    <h2><a href="http://www.free-css.com/"><img src="/img/more.gif" alt="" />Read more</a> Оценка: <%= PlaceFinder::Rating.rating_of_place place.id %></h2>
  </div>
  <% end %>
</div>